.rspNavBar {
  max-width: 350px;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(130%);
  display: flex;
  flex-direction: column;
  
  border-top-left-radius: 1rem;
  transition: 0.3s;
  padding: 0 30px;
}
.navLogo svg {
  margin: 1.5rem 0 0 1.3rem;
}
.rspNavBar .navLogo {
  position: relative;
}
.rspNavBar .navLogo .fa-xmark {
  position: fixed;
  right: 1rem;
  top: 1.8rem;
  cursor: pointer;

}
.border-grey {
  width:100% ;
  margin-block:20px;

  height: 2px;
  background-color: #f7f7f7;
}
.rspNavBar .rspList ul {
  display: flex;
  flex-direction: column;
}
.rspNavBar .rspList ul li {
  padding-block: 0.5rem ;
  padding-left: 1rem;
    margin: 0 0 0 1rem;
  list-style: none;
  border-radius: 10px;
  transition: 0.8s;
}
.rspNavBar .rspList ul li a {
  color: #23272a;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
.rspNavBar .rspList ul li:hover , .rspList .active {
    background-color: #f6f6f6;
}
.rspNavBar .rspList ul li a:hover{
  text-decoration: underline;
}
.grow {
  flex-grow: 1;
}
.rspBtn {
  margin: 2rem 1rem 4rem 1rem;
  background-color: #404eed;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  padding: 15px 0;
  border-radius: 100vw;
}
.rspBtn i {
  margin-right: 5px;
}
.rspBtn:hover {
  background-color: #404eedda;
  box-shadow:5px 5px 10px 2px #404eed73;
}

